.button {
  padding: 19px 29px;
  border-radius: 15px;
  background-color: var(--primary);
  color: var(--primary-darker);
	font-family: 'Montserrat Bold';
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s;
}

.button:hover {
  box-shadow: 0 0 5px 1px rgba(97, 72, 133, .5);
}