.messengerBlock {
  background-color: var(--tertiary-light);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.correspondence {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.respondentenInfo {
  justify-self: flex-start;
  align-self: start;
  width: 100%;
  min-height: 136px;
  padding: 0 25px;
  box-sizing: border-box;
  border-bottom: 2px solid var(--primary-light);
  display: flex;
  align-items: center;
}

.avatarBlock {
  position: relative;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: var(--primary-light);
  overflow: hidden;
}

.avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}