.logo {
  display: flex;
  align-self: center;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 52px;
  background-color: var(--primary);
  border-radius: 15px;
  font-size: 42px;
  color: var(--primary-darker);
  user-select: none;
  box-shadow: 0 0 25px 1px rgba(255, 255, 255, 0.495);
  margin-right: 5px;
}

.headline {
  position: relative;
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  color: var(--secondary);
	font-family: 'Montserrat SemiBold';
  user-select: none;
}

.headline:before {
  position: absolute;
  content: "PsyFree";
  top: 0;
  left: 0;
  width: 0;
  color: var(--primary-darker);
  overflow: hidden;
  transition: all .5s;
}

.headline:hover:before {
  width: 100%;
}

.link {
  text-decoration: none;
}