.chatNavigation {
  padding-top: 25px;
  grid-area: n;
  background: linear-gradient(var(--primary-translucent), var(--primary-light));
}

.iconBlock {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.icon:hover {
  transform: scale(1.05);
  transition: all .3s;
  background-color: var(--blank-light);
}

.active {
  background-color: var(--tertiary-semitransparent);
  pointer-events: none;
}