.info {
  margin-left: 15px;
}

.name {
  font-family: 'Montserrat Medium';
  color: var(--primary-darker);
  font-size: 1.6rem;
  margin: 0;
  margin-top: 20px;
}

.status {
  margin: 0;
  font-family: 'Montserrat Thin';
  font-weight: 600;
}