.card {
  position: relative;
  height: 538px;
  width: 358px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient( var(--background-secondary), var(--background-primary));
  border-radius: 15px;
  font-size: 24px;
  color: var(--primary-darker);
}

.name {
  width: calc(100% - 15px);
  padding-left: 15px;
}

.info {
  width: calc(100% - 15px);
  text-align: end;
  padding-right: 15px;
}

.photo {
  width: 85%;
}

@media screen and (max-width: 868px) {
  .card {
    height: 376px;
    width: 250px;
    font-size: 16px;
  }
}