.userList {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: calc(100%);
  box-sizing: border-box;
  overflow-y: auto;
}

.scrollBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  box-sizing: border-box;
  margin: 25px 0;
  width: 100%;
  overflow-y: overlay;
  padding: 0 15px;
}

.scrollBlock::-webkit-scrollbar {
  width: 7px;
}

.scrollBlock::-webkit-scrollbar-track {
  background: var(--primary-light);
}

.scrollBlock::-webkit-scrollbar-thumb {
  background: var(--primary-translucent);
  border-radius: 10px;
}

.scrollBlock::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-semitransparent);
  cursor: pointer;
}