.footer {
  background: linear-gradient(var(--blank), var(--tertiary-semitransparent));
  display: flex;
  padding: 15px 15px 0 15px;
  justify-content: center;
}

.wrapper {
  max-width: 1530px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 5px 0;
  color: var(--secondary);
  text-align: center;
}

@media screen and (max-width: 948px) {
  .logoBlock {
    transform: scale(.8) translateX(-10%);
  }
}

@media screen and (max-width: 873px) {
  .logoBlock {
    transform: scale(.8) translateX(0);
  }
}

@media screen and (max-width: 820px) {

  .wrapper {
    flex-direction: column;
  }
}