.primaryInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-light);
  padding: 15px;
}

.name {
  margin: 0;
  text-align: start;
	font-family: 'Montserrat Medium';
  font-size: 1.5rem;
  align-self: flex-start;
  margin-bottom: 15px;
}

.status {
  margin: 0;
  align-self: flex-start;
	font-family: 'Montserrat Light';
  margin-bottom: 15px;
}

.avatar {
  width: calc(100% - 12px);
  padding: 5px;
  background-color: var(--blank);
  border-radius: 3px;
  border: 1px solid var(--tertiary-light);
  box-shadow: 0 0 10px 0 #517361;
  margin-bottom: 15px;
}

.createdAt {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 2px solid var(--primary-light);
}

.scale:hover {
  transform: scale(1.01);
  transition: all .05s;
}

.uploadButton {
  display: none;
}