.respondents {
  padding-top: 25px;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.respondentList {
  background-color: var(--blank);
  max-height: 100%;
  height: 100%;
  margin: 15px;
  border-radius: 15px;
  overflow: auto;
}

.link {
  display: block;
  text-decoration: none;
}

.selected {
  background-color: var(--tertiary-light);
  transition: all .2s;
  pointer-events: none;
}


@media screen and (max-width: 900px) {
  .respondents {
    padding: 0;
  }

  .respondentList::-webkit-scrollbar {
    display: none;
  }

  .respondentList {
    margin: 0;
    border-radius: 0;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
}