.respondents {
  padding-top: 25px;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.respondentsWrapper {
  background-color: var(--blank);
  max-height: 100%;
  height: 100%;
  margin: 15px;
  border-radius: 15px ;
  overflow: hidden;
}

.respondentList {
  background-color: var(--blank);
  max-height: 100%;
  height: 100%;
  border-radius: 15px ;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-light) var(--tertiary-light);
}

.respondentList::-webkit-scrollbar {
  width: 7px;
}

.respondentList::-webkit-scrollbar-track {
  background: var(--tertiary-light);
}

.respondentList::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 10px;
}

.respondentList::-webkit-scrollbar-thumb:hover {
  background: var(--primary-translucent);
  cursor: pointer;
}

.link {
  display: block;
  text-decoration: none;
}

.selected {
  background-color: var(--tertiary-light);
  transition: all .2s;
  pointer-events: none;
}


@media screen and (max-width: 900px) {
  .respondents {
    padding: 0;
  }

  .respondentsWrapper::-webkit-scrollbar {
    display: none;
  }

  .respondentList {
    border-radius: 0;
  }

  .respondentsWrapper {
    margin: 0;
    border-radius: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}