@font-face {
	font-family: 'Montserrat Regular';
	src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat Medium';
	src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'Montserrat SemiBold';
	src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('./assets/fonts/Montserrat-Bold.ttf');
}

:root {
  /* starting page*/
  --primary-variable: 164, 200, 131; /* A4C883 */
  --primary: rgb(var(--primary-variable));
  --primary-darker: #517361;
  --secondary: #614885;
  --tertiary-variable: 223, 210, 146; /* DFD292 */
  --tertiary: rgb(var(--tertiary-variable));
  --tertiary-translucent: rgba(var(--tertiary-variable), .86);
  --tertiary-semitransparent: rgba(var(--tertiary-variable), .55);
  --blank: #FFF;
  /* chat page*/
  --primary-translucent: rgba(var(--primary-variable), .67);
  --primary-light: rgba(var(--primary-variable), .27);
  --tertiary-light: rgba(var(--tertiary-variable), .27);
}

body {
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  min-height: 100vh;
	font-family: 'Montserrat Regular', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}