@font-face {
	font-family: 'Montserrat Regular';
	src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat Medium';
	src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'Montserrat SemiBold';
	src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('./assets/fonts/Montserrat-Bold.ttf');
}

:root {
  --primary: #A4C883;
  --primary-darker: #517361;
  --secondary: #614885;
  --background-primary: rgb(223, 210, 146);
  --background-translucent: rgba(223, 210, 146, .86);
  --background-semitransparent: rgba(223, 210, 146, .55);
  --background-secondary: #FFF;
}

body {
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
	font-family: 'Montserrat Regular', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
}