.logout {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  gap: 15px;
  color: var(--secondary);
}

.icon:hover {
  transform: scale(1.05);
  transition: all .2s;
  cursor: pointer;
}

.name {
  font-size: 1.6rem;
  font-weight: 400;
  user-select: none;
}

@media screen and (max-width: 970px) {
  .logout {
    gap: 10px;
    margin-right: 5px;
  }

  .name {
    font-size: 1.2rem;
    margin: 0;
  }

}

@media screen and (max-width: 900px) {
  .logout {
    gap: 5px;
  }

  .icon {
    height: 30px;
    width: 28px;
  }

  .name {
    font-size: 1.2rem;
    margin: 0;
  }
}

@media screen and (max-width: 670px) {
  .logout {
    gap: 5px;
  }

  .icon {
    height: 30px;
    width: 28px;
  }

  .name {
    display: none;
  }
}