.navigation {
  display: flex;
  color: var(--primary-darker);
	font-family: 'Montserrat Medium';
}

.linkBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  justify-content: center;
}

.linkBlock:first-child {
  margin: 0;
}

.contacts {
	font-family: 'Montserrat SemiBold';
}

.link {
  margin: 5px 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: var(--primary-darker);
}

.emailLink {
  text-decoration: none;
  color: var(--primary-darker);
}

.link:hover, .emailLink:hover {
  color: var(--secondary);
}

@media screen and (max-width: 948px) {
  .link {
    font-size: 13px;
  }
}

@media screen and (max-width: 620px) {
  .navigation {
    flex-direction: column;
  }
}