.messageBlock {
  display: flex;
  margin: 15px 25px;
  gap: 15px;
  color: var(--primary-darker);
}

.primaryColor {
  color: var( --secondary);
}

.primaryBackgroundColor {
  background-color: var(--secondary-semitransparent) !important;
}

.reverse{
  flex-direction: row-reverse;
}

.avatar {
  align-self: flex-end;
  min-width: 53px;
  min-height: 53px;
  max-height: 53px;
  border-radius: 50%;
  background-color: var(--primary-light);
  margin-bottom: 20px;
}

.writingBlock {
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.writing {
  background-color: var(--blank);
  align-self: flex-start;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 7.5px 10px;
  min-height: 38px;
  margin: 0;
  font-size: 16px;
	font-family: 'Montserrat Medium';
}

.flexEnd {
  align-self: flex-end;
}

.sendingInformation {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
	font-family: 'Montserrat Thin';
}

.time {
  margin: 0;
}

.status {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}